.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px; /* Adds some padding on the left */
  position: absolute; /* To position the logo inside the container */
  align-items: center; /* Vertically centers items */
  left:7%;
  top: 20%;

}

.button {
  /* Style for both Teacher and Student buttons */
  display: flex;
  background-color: #000000; /* Blue background color */
  color: white; /* White text color */
  font-size: larger;
  border: none; /* Remove default borders */
  border-radius: 300px; /* Rounded corners */
  font-size: 14px; /* Adjusted font size */
  cursor: pointer; /* Pointer cursor on hover */
  width: 200px; /* Adjusted width */
  height: 100px;
  padding: 15px 30px; /* Padding for a larger button size */
}



.logo {
  position: absolute;
  margin-right: 20%; /* Adds margin between the logo and buttons */
  bottom:85%;
  left: 7%;
  width: 250px; /* Adjust the width if necessary */
  filter: invert(100);
}
