.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px; /* Adds space between buttons */
  padding-left: 20px; /* Adds some padding on the left */
  position: absolute; /* To position the logo inside the container */
  align-items: center; /* Vertically centers items */
  left: 10%;
  top: 20%;

}

.button {
  /* Style for both Teacher and Student buttons */
  background-color: #000000; /* Blue background color */
  color: white; /* White text color */
  border: none; /* Remove default borders */
  border-radius: 8px; /* Rounded corners */
  font-size: 14px; /* Adjusted font size */
  cursor: pointer; /* Pointer cursor on hover */
  width: 150px; /* Adjusted width */
  padding: 30px 25px; /* Padding for a larger button size */
  margin-bottom: -500px;
}



.logo {
  position: absolute;
  margin-right: 20%; /* Adds margin between the logo and buttons */
  bottom:85%;
  left: 7%;
  width: 250px; /* Adjust the width if necessary */
  filter: invert(100);
}
