
  
  .button {
      border: none; /* Remove default borders */
    padding: 8px 18px; /* Padding for a larger button size */
    font-size: 14px; /* Adjusted font size */
    cursor: pointer; /* Pointer cursor on hover */
  
  
  
  }
 
  
.homepage_photo {
  position:absolute;
  bottom:.0005%; 
  width: 50%;
  height:100%;
  margin-left: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


}
  
  .logo {
    margin-left:2%;
    margin-top:-5%;
    width: 250px; /* Adjust the width if necessary */
    filter:invert(1);
  }
  

